# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree


custom.el
elpa/**
backups/**
auto-save-list/**
transient/**
places
recentf
perspectives
history
tramp
forge-database.sqlite
eln-cache/**
.lsp-session-*